<div class="flex justify-between" data-controller="logo">
  <div class="w-full h-screen flex flex-col items-center justify-center">
    <div>
      <div contenteditable="true"
        class="text-8xl font-default text-white bg-red-700 leading-none px-6 py-4"
        id="logo"
      >SUPER</div>
    </div>
    <div class="mt-24">
      <button data-action="logo#downloadPNG">Export PNG</button>
      <div data-controller="color"></div>
    </div>
  </div>
  <div class="w-64 border-l border-gray-400" data-controller="font">
    <div class="px-4 py-2 flex items-center h-12 bg-white w-full">
      <i data-feather="search" class="inline w-4 h-4 text-green-800" data-controller="feather"></i>
      <input type="text" placeholder="Search" id="search-keyword" class="ml-2">
      <button data-action="font#search">
        <i data-feather="check" class="inline w-4 h-4 text-green-800" data-controller="feather"></i>
      </button>
    </div>
    <div class="px-4 py-2 border-t border-gray-400">
      <select class="w-full" data-target="font.filter" data-action="font#search">
        <option value="">All Languages</option>
        <option value="latin">Latin</option>
        <option value="sinhala">አማርኛ</option>
        <option value="greek">Ελληνικά</option>
        <option value="vietnamese">Tiếng Việt</option>
        <option value="gujarati">ગુજરાતી</option>
        <option value="cyrillic">Кири́ллица</option>
        <option value="hebrew">עִבְרִית</option>
        <option value="arabic">اَلْعَرَبِيَّةُ‎</option>
        <option value="khmer">អក្ខរក្រមខេមរភាសា</option>
        <option value="tamil">தமிழ்</option>
        <option value="thai">ภาษาไทย</option>
        <option value="bengali">বাংলা</option>
        <option value="malayalam">മലയാളം</option>
        <option value="oriya">ଓଡ଼ିଆ oṛiā</option>
        <option value="gurmukhi">ਗੁਰਮੁਖੀ</option>
        <option value="kannada">ಕನ್ನಡ</option>
        <option value="telugu">తెలుగు</option>
        <option value="korean">조선말</option>
        <option value="tibetan">བོད་སྐད</option>
        <option value="japanese">日本語</option>
        <option value="chinese-simplified">简体中文</option>
        <option value="chinese-traditional">繁體中文</option>
        <option value="myanmar">မြန်မာဘာသာ</option>
      </select>
    </div>
    <div class="font-selector w-64" data-target="font.list"></div>
  </div>
</div>