<div class="flex justify-between" data-controller="logo">
  <div class="w-full h-screen flex flex-col items-center justify-center">
    <div contenteditable="true"
      class="text-8xl font-default text-white bg-red-700 leading-none px-6 py-4"
      id="logo"
    >梁博渊 Bran</div>
    <button data-action="logo#downloadPNG">Export PNG</button>
    <div data-controller="color"></div>
    <canvas id="test-canvas">
  </div>
  <div class="font-selector w-64 bg-gray-300" data-controller="font">
  </div>
</div>