<div class="flex justify-between" data-controller="logo">
  <div class="w-full h-screen flex flex-col items-center justify-center">
    <div class="p-10 flex">
      <!--
      <input id="position-slider" data-action="change->logo#verticalMove" type="range" min="-10" max="10" value="0">
      !-->
      <div contenteditable="true"
        class="text-8xl font-default text-white bg-red-700 leading-none px-6 py-4 h-32 flex items-center justify-center"
        id="logo"
      >SUPER</div>
    </div>
    <div class="mt-10">
      <div class="py-2">
        <div data-controller="color" data-color-target="text"></div>
        <span class="ml-2 font-bold text-lg text-green-800">Text color</span>
      </div>
      <div class="py-2">
        <div data-controller="color" data-color-target="background"></div>
        <span class="ml-2 font-bold text-lg text-green-800">Background color</span>
      </div>
      <div class="my-2 py-2 flex items-center border-gray-400 border-dashed px-2 border rounded-lg w-full">
        <input data-action="input->logo#round" type="range" min="0" max="50" value="0">
        <span class="ml-2 font-bold text-lg text-green-800">Round corner</span>
      </div>
      <div class="mt-4 mb-2 py-2 flex items-center border-gray-400 border-dashed px-2 border rounded-lg w-full">
        <input class="border-b" id="logo-height" type="number" min="0" max="500">
        <span class="ml-2 font-bold text-lg text-green-800">px (Export height)</span>
      </div>
      <div class="py-2">
        <button
          class="bg-blue-600 w-full hover:bg-blue-800 text-white font-bold py-2 rounded-full"
          data-action="logo#downloadPNG"
        >Export PNG</button>
      </div>
    </div>
  </div>
  <div class="w-64 border-l box-content border-gray-400 h-screen" data-controller="font">
    <div class="px-4 py-2 flex items-center h-12 bg-white w-full">
      <i data-feather="search" class="inline w-4 h-4 text-green-800" data-controller="feather"></i>
      <input type="text" placeholder="Search" id="search-keyword" class="ml-2">
      <button data-action="font#search">
        <i data-feather="check" class="inline w-4 h-4 text-green-800" data-controller="feather"></i>
      </button>
    </div>
    <div class="h-12 px-4 py-2 border-t border-gray-400">
      <select class="w-full" data-target="font.filter" data-action="font#search">
        <option value="">All Languages</option>
        <option value="latin">Latin</option>
        <option value="sinhala">አማርኛ</option>
        <option value="greek">Ελληνικά</option>
        <option value="vietnamese">Tiếng Việt</option>
        <option value="gujarati">ગુજરાતી</option>
        <option value="cyrillic">Кири́ллица</option>
        <option value="hebrew">עִבְרִית</option>
        <option value="arabic">اَلْعَرَبِيَّةُ‎</option>
        <option value="khmer">អក្ខរក្រមខេមរភាសា</option>
        <option value="tamil">தமிழ்</option>
        <option value="thai">ภาษาไทย</option>
        <option value="bengali">বাংলা</option>
        <option value="malayalam">മലയാളം</option>
        <option value="oriya">ଓଡ଼ିଆ oṛiā</option>
        <option value="gurmukhi">ਗੁਰਮੁਖੀ</option>
        <option value="kannada">ಕನ್ನಡ</option>
        <option value="telugu">తెలుగు</option>
        <option value="korean">조선말</option>
        <option value="tibetan">བོད་སྐད</option>
        <option value="japanese">日本語</option>
        <option value="chinese-simplified">简体中文</option>
        <option value="chinese-traditional">繁體中文</option>
        <option value="myanmar">မြန်မာဘာသာ</option>
      </select>
    </div>
    <div class="font-selector w-64" data-target="font.list"></div>
  </div>
</div>